body {
    background-color: #F3E7D8;
}

h1 {
    color: #ED583F; 
    font-family:'Trocchi', serif;
    text-align: center;
}

p {
    text-align: center;
}

table {
    width: 100%;
}

table, th, td {
    border-collapse: collapse;
}

td {
    text-align: left;
    vertical-align: top;
}

#column1 {
    background-color: #C7B65D;
}

#column2 {
    background-color: #F3A732;
}

#column3 {
    background-color: #F8B3CC;
}

ul {
    list-style-type: square;
}

a:link, a:visited {
    text-decoration: none;
    color: black;
}

a:hover {
    color: #F3E7D8;
}

